Header set Access-Control-Allow-Origin *
RewriteEngine On
RewriteRule \.(css|jpe?g|gif|png|js|ico)$ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^products/(.*)$ product_details.php?slug=$1 [L]
RewriteRule ^services/(.*)$ service_details.php?slug=$1 [L] 
RewriteRule ^edit-user/(.*)$ edit-user.php?id=$1 [L]  
RewriteRule ^sub-category/(.*)$ sub_products.php?cslug=$1 [L]
RewriteRule ^order-details/(.*)$ order_details.php?id=$1&type=sub_category [L]
RewriteRule ^sub-sub-category/(.*)$ products.php?slug=$1&type=sub_sub_category [L]
RewriteRule ^cutting-details$ cutting-details.php [L]
RewriteRule ^user-list$ user-list.php [L]
RewriteRule ^lamination-details$ lamination.php [L]
RewriteRule ^paper-price$ paper-price.php [L]
RewriteRule ^printing-details$ printing-details.php [L]
RewriteRule ^create-user$ create-user.php [L]
RewriteRule ^myaccount$ myaccount.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^pos$ pos.php [L]
RewriteRule ^make-invoice$ make-invoice.php [L]
RewriteRule ^invoice$ invoice.php [L]
RewriteRule ^view-details$ invoice.php [L]
RewriteRule ^print-invoice$ print_invoice.php [L]
RewriteRule ^all-transection$ all-transection.php [L]
RewriteRule ^due-transection$ due-transections.php [L]
RewriteRule ^settings$ settings.php [L]




RewriteRule ^making-details$ making-details.php [L]
RewriteRule ^foil-details$ foil-details.php [L]
RewriteRule ^delivery-details$ delivery-details.php [L]
RewriteRule ^customer$ customer.php [L]
RewriteRule ^gsm gsm.php [L]





RewriteRule ^new-data$ new-data.php [L]
RewriteRule ^po-provider$ po-provider.php [L]
RewriteRule ^all-data$ all-data.php [L]
RewriteRule ^edit-data$ edit-data.php [L]
RewriteRule ^commercial-invoice$ master-data.php [L]
RewriteRule ^commercial-invoice-view$ commercial-invoice-view.php [L]
RewriteRule ^commercial-invoice-print$ commercial-invoice-print.php [L]

RewriteRule ^delivery-chalan-print$ delivery-chalan-print.php [L]
RewriteRule ^all-print-data$ all-print-data.php [L]
RewriteRule ^edit-print-data$ edit-print-data.php [L]
RewriteRule ^create-boe$ create-boe.php [L]
RewriteRule ^print-boe$ print-boe.php [L]
RewriteRule ^proforma-invoice$ proforma-invoice.php [L]
RewriteRule ^create-proforma-invoice$ create-proforma-invoice.php [L]
RewriteRule ^print-proforma-invoice$ print-proforma-invoice.php [L]

RewriteRule ^edit-proforma-invoice$ edit-proforma-invoice.php [L]






RewriteRule ^delivery-chalan$ delivery-chalan.php [L]
RewriteRule ^duplicate-data$ duplicate-data.php [L]



